<h1>Welcome to the AWESOME Blog</h1>
<script src="/js/index.js"></script>
<script src="/js/posts.js"></script>

{{#each posts}}
    <div class="post">
        <h2><a href="/post/{{id}}">{{title}}</a></h2>
        <p>Posted by {{User.username}} on {{createdAt}}</p>
    </div>
{{else}}
    <p>No blog posts yet. Be the first to write one!</p>
{{/each}}
